* {
    box-sizing: border-box;
}


h1 {
    font-size: 20px;
  }
  
  h1:first-letter {
    font-size: 30px;
  }
  
  .nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .nav-item {
    display: inline-block;
  }
  
  .nav-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .nav-link:before {
    content: "> ";
  }
  
  .avatar {
    max-width: 50vw;
  }
  
  .special-div,
  .inner-special-div {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .special-div {
    height: 60vh;
    width: 60vw;
  }
  
  .inner-special-div {
    height: 40%;
    width: 40%;
  }
  