/* * {
    box-sizing: border-box;
} */
* {
  margin: 0;
  padding: 0;
}
body {
  padding-left: 2rem;
  padding-right: 2rem;
  margin: 1rem;

}

p {
      display: block;
}

.funny-skin {
    background: rgb(201, 17, 127);
}


button {
  background: rgb(37, 77, 207);
  color: rgb(255, 255, 255);
  border-radius: 5px;
  padding: .5rem;
}

input[type='checkbox']:checked{
  accent-color: rgb(37, 77, 207);
}

input:disabled {
  cursor: default;
  background-color: -internal-light-dark(rgba(239, 239, 239, 0.3), rgba(59, 59, 59, 0.3));
  color: -internal-light-dark(rgb(84, 84, 84), rgb(170, 170, 170));
  border-color: rgba(118, 118, 118, 0.3);
}

/* input[type='checkbox'] {
  accent-color: red;
} */

.main-nav-container {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.main-nav-item {
}

.main-nav-item:last-of-type {
      margin-left: auto;
}
  #createItemButton {
  }

  #backButton {    
  }

  #toogleStyleButton {
    
  }

  .sub-nav-container {
    display: flex;
    align-direction: row;
    list-style-type: none;
  }

  .sub-nav-item {
  }

  .sub-nav-item:last-of-type {
    margin-left: auto;
  }


    .todo-item-grid {
      display: grid;
      margin: .6rem 0;
      grid-template-columns: 1fr 60% 1fr 5%;
      grid-template-rows: 1fr 1fr 2px;
      grid-template-areas:
        "duedate title importance edit"
        "finished description description edit"
        "line line line line";
    }

        .todo-item {
            margin: .6rem .3rem ;
        }
    
    .todo-item-duedate {
      grid-area: duedate;
    }
    
    .todo-item-title {
      grid-area: title;
    }
    
    .todo-item-importance {
      grid-area: importance;
      justify-self: end;
    }
    
    .todo-item-finished {
      grid-area: finished;
      opacity: 0.5;
    }
    
    .todo-item-description {
      grid-area: description;
    }

    .todo-item-edit {
      grid-area: edit;
      justify-self: end;
      align-self: center;
      /* text-align: center;
      vertical-align: middle;
      text-justify: center; */
      /* margin: 50%; */
    }

    .todo-item-line {
      grid-area: line;
    }

.update-todo-container {
  display: flex;
  flex-direction: column;
}


/* ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
} */

.item-row {
  margin: 0 .3rem;
}

.item-column {
  margin: .3rem 0;
}

.item-column .item-row {
  margin: .3rem;
}

.form-item-column {
  margin: .3rem 0;
  display: flex;
  flex-direction: column;
}

.form-item-row {
  margin: .3rem;
}

.update-todo-buttons-container {
  display: flex;
  flex-direction: row;
}


.disable-element {
  display:none;
}

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}


/* h1 {
    font-size: 20px;
  }
  
  h1:first-letter {
    font-size: 30px;
  }
  
  .nav-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }
  
  .nav-item {
    display: inline-block;
  }
  
  .nav-item:not(:last-child) {
    margin-right: 10px;
  }
  
  .nav-link:before {
    content: "> ";
  }
  
  .avatar {
    max-width: 50vw;
  }
  
  .special-div,
  .inner-special-div {
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .special-div {
    height: 60vh;
    width: 60vw;
  }
  
  .inner-special-div {
    height: 40%;
    width: 40%;
  } */
  